body{
  background-color: rgb(19, 17, 17);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.yourpick{
  
  font-size: 42px;
  font-weight: bold;  
}

.move-icon{
  height: 50px;
}

.move-button{
  background-color: transparent;
  border: 2px solid white;
  border-radius: 60px;
  height: 120px;
  width: 120px;
  margin-right: 8px;
  cursor: pointer;
}

.css-result{
  
  font-size: 32px;
}

.css-moves{
  
  font-size: 22px;
}

.css-score{
  
  font-size: 20px;
}

.reset-score, .auto-play-button{
  font-size: 16px;
  padding: 8px 16px;
}